<div class="container">
	<div class="row">
		<div class="valign-wrapper">

			<div class=" card col s12 m12 l4 pull-l4 grey lighten-2">
				<div class="card-content">
					<span class="card-title">Login Form</span>
					<form class="col s12" [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
						<div class="row">
							<div class="input-field col s12">
								<input id="email" type="email" class="validate" formControlName="email">
								<label for="email">Email</label>
							</div>
						</div>

						<div class="row">
							<div class="input-field col s12">
								<input id="password" type="password" class="validate" formControlName="password">
								<label for="password">Password</label>
							</div>
						</div>

						<div class="row" *ngIf="!loading">
							<div class="col s6">
								<button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">Login</button>
							</div>
							<div class="col s6">
								<a mat-raised-button routerLink="/register">Register</a>
							</div>
							
						</div>
						<div class="row" *ngIf="loading">
							<div class="col push-s3 push-m4 push-l3">
								<mat-spinner></mat-spinner>
							</div>
							
						</div>
						<div class="row alert" *ngIf="msg">
							<p>{{msg}}</p>
						</div>
					</form>
					
				</div>
			</div>



		</div>
	</div>
</div>