<nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Logo</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a routerLink="/login">Sass</a></li>
        <li><a routerLink="/login">Components</a></li>
        <li><a routerLink="/login">Javascript</a></li>
        <li><a routerLink="/login">Mobile</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a routerLink="/login">Sass</a></li>
    <li><a routerLink="/login">Components</a></li>
    <li><a routerLink="/login">Javascript</a></li>
    <li><a routerLink="/login">Mobile</a></li>
  </ul>