.sidebar-container {
    width: 100%;
    height: 100vh;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .sidenav-content {
    display: flex;
    height: 100%;
    flex-direction: column;
  }
  
  .sidenav {
    padding: 20px;
  }

  .sidebar-button{

  }

  .sidebar-routing{
    flex: 1;
  }
  