<mat-drawer-container class="sidebar-container" autosize>
  <mat-drawer #drawer  class="sidenav" mode="side">
    <p>Bienvenido</p>
    <p *ngIf="showFiller">User: {{user.name}}</p>
    <mat-selection-list #shoes [multiple]="false">
      <mat-list-option *ngFor="let item of items" [value]="item">
        
        <a [routerLink]="item.link">
          <p><i class="material-icons small">{{item.icon}}</i>{{item.item}}</p> 
        </a>
      </mat-list-option>
      <mat-list-option>
        <a (click)="logout()">
          <p><i class="material-icons small">power_settings_new</i>Logout</p>
        </a>
      </mat-list-option>
    </mat-selection-list>
  </mat-drawer>

  <div class="sidenav-content" >

    <div class="sidebar-button">
      <button mat-mini-fab color="accent" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <div class="sidebar-routing">
      <router-outlet></router-outlet>
    </div>
    
  </div>

</mat-drawer-container>
