<div class="row">
    <h1 class="title">Products</h1>
    <table mat-table [dataSource]="products" class="mat-elevation-z8">

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th class="name" mat-header-cell *matHeaderCellDef> Name </th>
          <td class="name" mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
      
        <!-- Price Column -->
        <ng-container matColumnDef="price">
          <th class="price" mat-header-cell *matHeaderCellDef> Price </th>
          <td class="price" mat-cell *matCellDef="let element">${{element.price}} </td>
        </ng-container>
      
        <!-- description Column -->
        <ng-container matColumnDef="description">
          <th class="description" mat-header-cell *matHeaderCellDef> Description </th>
          <td class="description" mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>

        <ng-container matColumnDef="cart">
          <th class="cart" mat-header-cell *matHeaderCellDef></th>
          <td class="cart" mat-cell *matCellDef="let element">

            <button mat-mini-fab color="warn" 
            matTooltip="Add to Cart" 
            (click)="selectProduct(element)">
              <i class="material-icons">add_shopping_cart</i>
            </button>
            
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</div>
