table {
  margin: 3rem;
    width: 95%;
  }

  tr{
    height: 70px !important;
  }
  
  .description{
    width: 50%;
    text-align: center;
  }
  th{
    font-weight: bold;
    font-size: 1rem;
  }

  .name{
    width: 20%;
    text-align: left;
  }

  .price{
    width: 5%;
    background-color: #FF4081;
    text-align: center;
    font-weight: bold;
    color: white;
  }

  .cart{
    width: 5%;
    text-align: center;
  }