/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-image: url(https://cdn.pixabay.com/photo/2016/01/27/22/10/shopping-1165437_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.valign-wrapper{
    height: 100vh;
}

.title{
    text-align: center;
}
