table {
    margin: 3rem;
      width: 95%;
    }

  .container-button{
    display: flex;
    justify-content: center;
  }

  .quantity{
    width: 15%;
    text-align: center;
  }
  .action{
    width: 5%;
    text-align: center;
  }
  th{
    font-weight: bold;
    font-size: 1rem;
  }

  .name{
    width: 50%;
    text-align: left;
  }

  .price{
    width: 5%;
    background-color: #FF4081;
    text-align: center;
    font-weight: bold;
    color: white;
  }


  .container-quantity{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  p{
    padding-top: .5rem;
  }
