<div class="row">
    <h1 class="title">My Cart</h1>
    <table mat-table [dataSource]="productCarts" class="mat-elevation-z8">

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th class="name" mat-header-cell *matHeaderCellDef> Name </th>
          <td class="name" mat-cell *matCellDef="let element"> {{element.product.name}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="price">
          <th class="price" mat-header-cell *matHeaderCellDef> Price </th>
          <td class="price" mat-cell *matCellDef="let element"> {{element.product.price}} </td>
        </ng-container>

        <ng-container matColumnDef="quantity">
          <th class="quantity" mat-header-cell *matHeaderCellDef> Quantity </th>
          <td class="quantity" mat-cell *matCellDef="let element">
            <div class="container-quantity">
              <button mat-mini-fab color="warn"
              (click)="sumQuantity(element.id,element.quantity)"
              matTooltip="Sum">
                <i class="material-icons">arrow_drop_up</i>
              </button>
  
               <p>{{element.quantity}}</p>
  
               <button mat-mini-fab color="warn"
              (click)="subtractQuantity(element.id,element.quantity)"
              matTooltip="Subtract">
                <i class="material-icons">arrow_drop_down</i>
              </button>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th class="action" mat-header-cell *matHeaderCellDef>Actions</th>
          <td class="action" mat-cell *matCellDef="let element">

            <button mat-mini-fab color="warn" 
            (click)="removeCart(element.id)"
            matTooltip="Remove">
              <i class="material-icons">remove_shopping_cart</i>
            </button>
            
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <div class="container-button" (click)="completeCart()">
        <button mat-raised-button color="warn" [disabled]="disabled">Complete Cart</button>
      </div>
</div>



